#vi /etc/systemd/system/asterisk-watchdog.timer
[Unit]
Description=Run Asterisk Watchdog every 60 seconds

[Timer]
OnBootSec=60
OnUnitActiveSec=60
AccuracySec=1
Unit=asterisk-watchdog.service

[Install]
WantedBy=timers.target
