[general]
dateformat=%F %T
use_callids=yes

[logfiles]
full => notice,warning,error,security,verbose(5),debug
errors => error,warning,security
pjsip => debug
security => security
console => notice,warning,error,verbose(3)
