/var/log/asterisk/full
/var/log/asterisk/errors
/var/log/asterisk/pjsip
/var/log/asterisk/rtp
/var/log/asterisk/dialplan
/var/log/asterisk/security
l {
    daily
    missingok
    rotate 14
    compress
    delaycompress
    notifempty
    create 640 asterisk asterisk
    sharedscripts
    postrotate
        /usr/sbin/asterisk -rx 'logger reload' > /dev/null 2>&1
    endscript
}